
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .margin-auto {
    margin: auto;
  }
  @responsive {
    .top-section {
      padding: 80px 0;
    }
    .top-section-tab {
      padding: 60px 0
    }
  }
  @responsive {
    .title-l {
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 40px;
    }
    .title-m {
      font-size: 28px;
    }
  }
  @responsive {
    .btn-to-detail {
      width: 300px;
      height: 60px;
      background-color: orange;
      border-radius: 6px;
      color: #fff;
      font-weight: bold;
      padding: 20px 40px;
      font-size: 24px;
      margin: 80px auto 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .btn-to-detail-m {
      font-size: 18px;
      margin: 60px auto 0;
    }
  }  
}